.homesection{
  background: url(../../images/bg1.jpg) no-repeat;
  background-size: 100% 100%;
  margin-bottom: -100px;
}
button{
  cursor: none !important;
}
a{
  cursor: none !important;
}
li{
  cursor: none !important;
}
span{
  cursor: none !important;
}
.sticky{
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: #292929 !important;
}
.texts{
  color: #c1ff12;
  font-style: normal;
  font-weight: medium;
  text-decoration: none;
}

.home{
    background-color: transparent;
    .navbar-expand{
      justify-content: center;
    }
    .navbar{
        z-index: 4;
        color: white;
          .navbar-brand{
            color: #fff;
            margin-right: 0px !important;
            svg{
                path:nth-child(1){
                    fill: #8E8E8E;
                    transition:all .5s ease;
                   } 
                   path:nth-child(2){
                    fill: #A3A4A4;
                    transition:all .5s ease;
                   } 
                   path:nth-child(3){
                    fill: #FEFEFE;
                    transition:all .5s ease;
                   } 
                   path:nth-child(4){
                    fill: #DFE0E0;
                    transition:all .5s ease;
                   } 
                   path:nth-child(5){
                    fill: #A1A2A2;
                    transition:all .5s ease;
                   } 
                   transition:all .5s ease;
            }
            svg:hover{
               path:nth-child(1){
                fill: #98ca10;
               } 
               path:nth-child(2){
                fill: #7c992b;
               } 
               path:nth-child(3){
                fill: #c1ff12;
               } 
               path:nth-child(4){
                fill: #c1ff12;
               } 
               path:nth-child(5){
                fill: #c1ff12;
               } 
               
            }
          }
          .navbar-brand:hover{
            cursor: pointer;
          }
          .nav-item{
            margin: 10px 10px;
            padding: 15px 20px;
            .nav-link{
                padding: 2px 2px;
                border-radius: 100%;
                background: #fff;
                transition: all .5s ease;
            }
           transition: all .5s ease;
            @media (max-width: 768px) {
                margin: 0px 10px;
                padding: 10px 5px;
            }
          }
          .nav-item:hover{
            .nav-link{
              background: #c1ff12;
              box-shadow: 0px 0px 11px 3px #c1ff12;
          }
          }
        
          .menu{
            justify-content: center;
            align-items: center;
            flex-direction: column;
            button{
                color: #fff;
                .btn{
                  color: #fff;
                  text-decoration: none;
                  border: 0px;
                  
                }
            }
            span{
                background: #c1ff12;
                height: 2px;
                width: 40px;
                transition: all .5s ease;
            }
          }
          .menu:hover{
            span{
                width: 20px;
            }
          }
    }
}
.main-section{
  overflow-x: hidden;
  margin: 80px 10px;
  color: #fff;
  .btn-p{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    transition: all .5s;
    width: 190px;
    button{
      a{
        color: #fff;
        text-decoration: none;
        transition: all .5s;
      }
        
    }
    .star{
        padding: 1px 1px;
        border-radius: 100%;
        background: #fff;
        transition: all 1.5s ease;
        height: 2px;
        transition: all .5s;
        animation: starb 2s linear infinite;
    }
    @keyframes starb {
        0%{
            background: #fff;
        }
        50%{
            background: #fff;
            box-shadow: 0px 0px 6px 3px #fff;
        }
        100%{
            background: #fff;
        }
        
    }
    .star2{
        display: none;
        padding: 1px 1px;
        border-radius: 100%;
        background: #c1ff12;
        transition: all 1.5s ease;
        height: 2px;
        animation: star2b 2s linear infinite;
    }
    @keyframes star2b {
        0%{
            background: #c1ff12;
        }
        50%{
            background: #c1ff12;
            box-shadow: 0px 0px 6px 3px #c1ff12;
        }
        100%{
            background: #c1ff12;
        }
        
    }
    span{
        height: 1px;
        width: 120px;
        background: #bdbdbdc9;
        transition: all .5s;
        .bt-g{     
        height: 1px;
        width: 120px;
        background: #bdbdbdc9;
        transition: all .5s;
        }
    }
}
.btn-p:hover{
    cursor: pointer;
    button{
      a{
        color: #c1ff12;
      }
     
    }
    .star{
        display: none;
    }
    .star2{
        display: block;
    }
    span{
        .bt-g{     
        height: 1px;
        width: 110px;
        background: #c1ff12;
        animation: bt-g 2s ease;
        }
        @keyframes bt-g {
           0%{
            background: #bdbdbdc9;
            width: 0px;
           } 
           100%{
            background: #c1ff12;
            width: 110px;
           }
        }
    }
}
  h1{
    color: #fff;
    font-size: 50px;
    span{
        background: linear-gradient( 180deg , #c1ff12 , #fff);
        background-clip: text;
        color: transparent;
    }
}
h2{
  font-size: 26px;
  color: #adadad;
}
p{
  color: #adadad;
}
  .macbook{
    height: 300px;
    @media (max-width: 768px) {
      height: 250px;
    }
    @media (max-width: 472px) {
      height: 200px;
    }
    @media (max-width: 370px) {
      height: 150px;
    }
  }
}
